{% extends 'base_nav.html' %}

{% block content %}
    <div id="profile">
       <div class="info">
           {% if user.profile_image %}
            <img src="{{user.profile_image.url}}"
           {% endif %}

           <div class="info-texts">
               <h1>{{user.username}}</h1>
               <div class="counts">
                   <dl>
                       <dt>Posts</dt>
                       <dd>{{user.post_set.count}}</dd>
                       <dt>Followers</dt>
                       <dd>{{user.followers.count}}</dd>
                       <dt>Following</dt>
                       <dd>{{user.following.count}}</dd>
                   </dl>
               </div>
               <p>{{user.short_description}}</p>
           </div>
       </div>

      {% block bottom_data %} {% endblock %}

    </div>
{% endblock %}
