{% extends 'base_nav_nomypage.html' %}

{% block content %}
<div id="profile">
    <div class="info">
        <!-- 프로필 이미지 영역 -->
        {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}">
        {% endif %}

        <!-- 사용자 정보 영역 -->
        <div class="info-texts">
            <h1>{{ user.username }}</h1>
            <span>
                 {% if login_user == user %}
                      <form action="{% url 'users:profile_edit' user_id=user.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                        회원수정
                    </button>
                </form>


                {% endif %}
              </span>
            <span>
                 {% if login_user == user %}
                      <form action="{% url 'users:update_password' user_id=user.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">
                        비번변경
                    </button>
                </form>
                {% endif %}
              </span>
            <div class="counts">
                <dl>
                    <dt>Posts</dt>
                    <dd>
                        <a href="{% url 'users:profile' user_id=user.id %}">{{ user.post_set.count }}</a>
                    </dd>
                    <dt>Followers</dt>
                    <dd>
                        <a href="{% url 'users:followers' user_id=user.id %}">{{ user.followers.count }}</a>
                    </dd>
                    <dt>Following</dt>
                    <dd>
                        <a href="{% url 'users:following' user_id=user.id %}">{{ user.following.count }}</a>
                    </dd>
                </dl>
            </div>
            <p>소개글 : {{ user.short_description }}</p>
             {% if login_user == user %}
            <p>email : {{ user.email }}</p>
            <p>마지막 접속일 : {{ user.last_login }}</p>
             {% endif %}
        </div>
    </div>
    {% block bottom_data %}{% endblock %}
</div>
{% endblock %}
