<nav>
    <h1>
        <a href="{% url 'posts:feeds' %}">Pystagram</a>
    </h1>
     <p>세션 타임 아웃: <span id="session-timeout"></span> seconds</p>
     <script>
 function updateSessionTimeout() {
     console.log("test")
        $.getJSON('https://goldmagnetsoft.com/users/session-timeout/', function (data) {
            console.log("test 함수 호출")
            $('#session-timeout').text(data.timeout.toFixed());
            if (data.timeout < 60) {
                // 남은 시간이 1분 미만일 경우 세션 연장
                $.post('https://goldmagnetsoft.com/users/extend-session/', function (data) {
                    console.log('Session extended');
                });
            }
        });
    }

    // 5초마다 세션 타임아웃 시간 업데이트
    setInterval(updateSessionTimeout, 5000);
    </script>

    <span>
        <a href="{% url 'posts:post_search' %}">
          <div class="image-container">
            <img class="hoverable header-icon" id="deletesubmitButton" src="/static/image/search_icon.png" alt="포스트 검색">
            <div class="tooltip">Search</div>
          </div>
        </a>
    </span>

    <span>
       <a href="{% url 'posts:post_add' %}">
          <div class="image-container">
            <img class="hoverable header-icon" id="deletesubmitButton" src="/static/image/post_add_icon.png" alt="포스트 작성">
            <div class="tooltip">PostAdd</div>
          </div>
        </a>
    </span>

    <span>
        <a href="{% url 'users:profile' user_id=user.id %}">
          <div class="image-container">
            <img class="hoverable header-icon" id="deletesubmitButton" src="/static/image/person_mypage.png" alt="My Page">
            <div class="tooltip">MyPage</div>
          </div>
        </a>
    </span>

     <span>
        <a href="{% url 'users:logout' %}">
          <div class="image-container">
            <img class="hoverable header-icon" id="deletesubmitButton" src="/static/image/logout_icon.png" alt="Logout">
            <div class="tooltip">Logout</div>
          </div>
        </a>
    </span>
</nav>