<!--추가-->
{% extends 'base_profile.html' %}

{% block bottom_data %}
    {% if user == login_user %}
        <h2 style="margin-left: 10px">총 메세지 : {{ paginator.count }} 개</h2>
        <div class="relationships">

            <h3>MessageBox</h3>
            <div class="funtion-btn">
                <span><button onclick="selectAll()" class="btn btn-primary">전체선택</button></span>
                <span><button onclick="deselectAll()" class="btn btn-primary">모두해제</button></span>
                <span><button onclick="fetchSelected()" class="btn btn-primary">삭제</button></span>

            </div>
            {% for message in page_obj %}
                <div class="relationship">
                    <a>
                        {% if message.sender.profile_image %}
                            <input type="checkbox" class="select-one" id="message_checkbox_btn_{{ message.id }}"
                                   data-id="{{ message.id }}">
                            <img src="{{ message.sender.profile_image.url }}">
                        {% endif %}
                        <div class="message-info" style="padding-top: 10px">
                            <sapn>{{ message.sender.username }}</sapn>
                            <br>
                            <sapn>{{ message.content }}</sapn>
                            <br>
                            <span>{{ message.created|date:"y.m.d"}}</span>
                            <!--              추가 부분-->

                        </div>
                    </a>
                </div>
                <script>
                    function selectOne(dataId) {
                        var checkbox = document.querySelector(`[data-id="${dataId}"]`);
                        if (checkbox) {
                            checkbox.checked = true;
                        }
                    }

                    // Function to deselect one item by its data-id
                    function deselectOne(dataId) {
                        var checkbox = document.querySelector(`[data-id="${dataId}"]`);
                        if (checkbox) {
                            checkbox.checked = false;
                        }
                    }

                    // Function to select all items with the class "select-one"
                    function selectAll() {
                        var checkboxes = document.querySelectorAll('.select-one');
                        checkboxes.forEach(function (checkbox) {
                            checkbox.checked = true;
                        });
                    }

                    // Function to deselect all items with the class "select-one"
                    function deselectAll() {
                        var checkboxes = document.querySelectorAll('.select-one');
                        checkboxes.forEach(function (checkbox) {
                            checkbox.checked = false;
                        });
                    }

                    // CSRF 토큰 값을 가져오는 함수
                    function getCSRFToken() {
                        var cookieValue = null;
                        var name = 'csrftoken';
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = cookies[i].trim();
                            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                        return cookieValue;
                    }

                    // Function to fetch selected items
                    function fetchSelected() {
                        // 삭제 여부를 묻는 confirm 대화상자 표시
                        var confirmed = confirm("데이터를 삭제하시겠습니까?");

                        // 사용자가 확인을 눌렀을 경우
                        if (confirmed) {
                            var selectedItems = [];
                            var checkboxes = document.querySelectorAll('.select-one');
                            checkboxes.forEach(function (checkbox) {
                                if (checkbox.checked) {
                                    selectedItems.push(checkbox.getAttribute('data-id'));
                                }
                            });
                            console.log(selectedItems)

                            // 숫자 요소를 담을 배열 생성
                            var numberArray = [];

                            // 문자열을 숫자로 변환하여 숫자 요소로 담기
                            for (var i = 0; i < selectedItems.length; i++) {
                                // parseInt 함수를 사용하여 문자열을 숫자로 변환
                                var number = parseInt(selectedItems[i]);

                                // 숫자가 NaN이 아니면 배열에 추가
                                if (!isNaN(number)) {
                                    numberArray.push(number);
                                }
                            }

                            // 결과 출력
                            <!-- console.log("문자열을 숫자로 변환한 배열:", numberArray); -->

                            // 배열을 JSON 문자열로 변환
                            var jsonData = JSON.stringify(selectedItems);
                            // AJAX 요청을 사용하여 JSON 데이터를 서버로 보냄
                            // CSRF 토큰 가져오기
                            var csrfToken = getCSRFToken();
                            //console.log("csrfToken : " + csrfToken)

                            // Fetch API를 사용하여 POST 요청 보내기
                            fetch('http://goldmagnetsoft.com:80/users/delete_message_rest/', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',  // 폼 데이터 형식으로 전송
                                    'X-CSRFToken': csrfToken  // CSRF 토큰 추가
                                },
                                body: JSON.stringify(numberArray)  // 배열을 JSON 문자열로 변환하여 전송
                            })
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Network response was not ok');
                                    }
                                    return response.json();  // 서버에서 반환된 JSON 데이터를 파싱
                                })
                                .then(data => {
                                    // 서버 응답 데이터(data)를 처리
                                    location.reload()
                                  // console.log(data);

                                })
                                .catch(error => {
                                    // 오류 처리
                                    // console.error('There was a problem with the fetch operation:', error);
                                    alert("전송 실패")
                                });

                            // Display selected items in the console
                            // console.log("Selected items: " + selectedItems.join(', '));
                        } else {
                            // 사용자가 취소를 눌렀을 경우
                            // console.log("사용자가 삭제를 취소했습니다.");
                        }


                    }
                </script>
            {% endfor %}
        </div>
        <div style="margin-bottom: 100px">
            {% if page_obj.has_other_pages %}
                <ul style="display: flex;  justify-content: center;   align-items: center;">
                    <!--        이전 버튼-->
                    {% if page_obj.has_previous %}
                        <li style="margin:3px;"><a style="text-decoration:none; color: blue;"
                                                   href="?page={{ page_obj.previous_page_number }}">&#10094; Prev</a>
                        </li>
                    {% endif %}

                    {% for page in custom_range %}
                        {% if page == page_obj.number %}
                            <li style="margin:3px;"><a
                                    style="text-decoration:underline; color: red; font-size:1.5rem ; font-weight: 700 "
                                    href="?page={{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li style="margin:3px;"><a style="text-decoration:none; color: blue;"
                                                       href="?page={{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}

                    <!--        이후버튼-->
                    {% if page_obj.has_next %}
                        <li style="margin:3px;"><a style="text-decoration:none; color: blue;"
                                                   href="?page={{ page_obj.next_page_number }}">Next &#10095;</a></li>
                    {% endif %}
                </ul>
                <h3 style="text-align: center"> 전체 페이지 : {{ paginator.num_pages }} </h3>
            {% endif %}
        </div>

    {% endif %}
    <!--  메세지 박스 본인 꺼만 보이게 설정.  -->
    <button id="scroll-to-top" class="btn btn-primary">Top</button>
{% endblock %}