{% extends 'base_slider.html' %}
<!--추가-->
{% load custom_tags %}

{% block content %}
<div id="feeds" class="post-container">
    <!-- 전달된 Post QuerySet객체를 순회 -->

    {% for post in page_obj %}
<!--        수정3-->
        {% url 'posts:feeds' as action_redirect_to %}
<!--    수정-->
        {% include 'posts/post.html' with action_redirect_url=action_redirect_to|concat:'#post-'|concat:post.id %}
    {% endfor %}
    <br/>
<br/>
      <br>
    <button id="scroll-to-top" class="btn btn-primary" >Top</button>
<div >
     {% if page_obj.has_other_pages %}
    <ul style="display: flex;  justify-content: center;   align-items: center;">
<!--        이전 버튼-->
        {% if page_obj.has_previous %}
    <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page_obj.previous_page_number}}">&#10094; Prev</a></li>
    {% endif %}

        {% for page in custom_range %}
         {% if page == page_obj.number %}
        <li style="margin:3px;"><a style="text-decoration:underline; color: red; font-size:1.5rem ; font-weight: 700 " href="?page={{page}}">{{page}}</a></li>
         {% else %}
        <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page}}">{{page}}</a></li>
         {% endif %}
        {% endfor %}

<!--        이후버튼-->
         {% if page_obj.has_next %}
    <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page_obj.next_page_number}}">Next &#10095;</a></li>
    {% endif %}
    </ul>
     {% endif%}
</div>
</div>



{% endblock %}
