{% extends 'base_nav.html' %}

{% block content %}

<div id="post-add">
    <h1>포스트 검색</h1>
    <!--        수정-->
    <form method="post" action="{% url 'posts:post_search_do'  %}">
        {% csrf_token %}
        <p>
            <label for="searchDB">검색:</label>
            <select  name="searchDB" id="searchDB" >
                <option value="tag">태그 검색</option>
                <option value="content" selected>내용 검색</option>
                <option value="user">작성자 검색</option>
            </select>
            <input type="text" name="content"  id="id_content">
            </input>
        </p>
        <button class="btn btn-primary " type="submit">검색</button>
    </form>


    {% endblock %}
