<article id="post-{{ post.id }}" class="post">
    <header class="post-header">
        <a href="{% url 'users:profile' user_id=post.user.id %}">
            {% if post.user.profile_image %}
                <img src="{{ post.user.profile_image.url }}">
            {% endif %}
            <span>{{ post.user.username }}</span>
        </a>

        <!--            추가-->
        {% if user != post.user %}
            <form action="{% url 'users:follow' user_id=post.user.id %}?next={{ action_redirect_url }} " method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if post.user in user.following.all %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
        {% endif %}

    </header>

    <!-- 이미지 슬라이드 영역 시작 -->

    <div class="post-images splide">
        <div class="splide__track">
            <ul class="splide__list">
                {% for image in post.postimage_set.all %}
                    {% if image.photo %}
                        <li class="splide__slide">
                            <a href="{% url 'posts:post_detail' post_id=post.id %}">
                                <img src="{{ image.photo.url }}">
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
    <!-- 이미지 슬라이드 영역 종료 -->

    <div class="post-content">
        <a href="{% url 'posts:post_detail' post_id=post.id %}">{{ post.content|linebreaksbr }}</a>

        <!--            추가-->
        <div class="post-tags">
            {% for tag in post.tags.all %}
                <a href="{% url 'posts:tags' tag_name=tag.name %}">#{{ tag.name }}</a>
            {% endfor %}

        </div>
        <div class="funtion-btn">
<span>
                  {% if user == post.user %}
                      <form id="deleteFeedForm" action="{% url 'posts:post_delete' post_id=post.id %}" method="POST"
                            onsubmit="return confirm('정말 게시글 삭제 하시나요?');">
                    {% csrf_token %}
                    <button style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">
                        <img class="hoverable" id="deletesubmitButton" src="/static/image/delete_icon.png" alt="이미지 삭제">
                                <div class="tooltip" id="tooltip">삭제</div>
                              </div>
                    </button>
                </form>


                  {% endif %}
              </span>

            <span>
                  {% if user == post.user %}

                      <!--                    <button class="btn btn-primary2">-->
                      <!--                          <a href="{% url 'posts:post_edit' post_id=post.id %}">글 수정</a>-->
                      <!--                    </button>-->
                      <form action="{% url 'posts:post_edit' post_id=post.id %}" method="GET">
{#                    {% csrf_token %}#}
                    <button style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">

                        <img class="hoverable " id="deletesubmitButton" src="/static/image/edit_icon.png">
                                <div class="tooltip" id="tooltip">수정</div>
                              </div>
                    </button>
                </form>
                  {% endif %}
                <span>
                      <form action="{% url 'posts:post_download_images' post_id=post.id %}" method="POST"
                            onsubmit="return confirm('이미지를 다운로드 하시나요?');">
                    {% csrf_token %}
                   <button style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">
                        <img class="hoverable" id="deletesubmitButton" src="/static/image/download_icon.png">
                               <div class="tooltip" id="tooltip">ImageDownload</div>
                              </div>
                    </button>
                </form>

              </span>

             <span>

                   <button class="comment_form_btn" id="comment_form_btn_{{ post.id }}" data-post-id="{{ post.id }}"
                           style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">
                        <img class="hoverable" src="/static/image/comment_icon.png">
                               <div class="tooltip" id="tooltip">Comment</div>
                              </div>
                    </button>


              </span>

             <span>

                   <button class="send_message_form_btn" id="send_message_form_btn_{{ post.id }}"
                           data-post-id="{{ post.id }}" style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">
                        <img class="hoverable" id="deletesubmitButton" src="/static/image/send_icon.png">
                               <div class="tooltip" id="tooltip">Send Message</div>
                              </div>
                    </button>


              </span>


    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModalBtn">&times;</span>
            <h2>쪽지 보내기</h2>
            <form id="messageForm">
                <label for="messageTitle">제목:</label>
                <input type="text" id="messageTitle" name="messageTitle" required><br>
                <label for="messageContent">내용:</label>
                <textarea id="messageContent" name="messageContent" rows="4" required></textarea><br>
                <button type="submit">보내기</button>
            </form>
        </div>
    </div>


        </div>
    </div>

    <!--        수정-->
    <div class="post-buttons">
        <form action="{% url 'posts:post_like' post_id=post.id %}?next={{ action_redirect_url }}" method="post">
            {% csrf_token %}
            <button
                    type="submit"
                    {% if user in post.like_users.all %}
                    style="color: red"
                    {% endif %}>
                <img
                        {% if user in post.like_users.all %}
                            src="/static/image/like.png" style="width: 15px; height: 15px"
                        {% endif %}
                            src="/static/image/unlike.png"
                            style="width: 15px; height: 15px">({{ post.like_users.count }})
            </button>


        </form>
        <span>Comments({{ post.comment_set.count }})</span>
    </div>


    <div class="post-comments">
        <ul>
            <!-- 각 Post에 연결된 PostComment들을 순회 -->
            {% for comment in post.comment_set.all %}
                <li>
                    <span>{{ comment.user.username }}</span>
                    <span style="font-weight: bold">{{ comment.content }}</span>
                     <h5>__{{ comment.created }}</h5>
                    {% if user == comment.user %}
                        <form method="post" action="{% url 'posts:comment_delete' comment_id=comment.id %}" onsubmit="return confirm('정말 게시글 삭제 하시나요?');">
                            {% csrf_token %}
                            <span>

                  <button style="border: none; background: #ffffff" type="submit">
                          <div class="image-container">
                        <img class="hoverable" id="deletesubmitButton" src="/static/image/delete_icon.png" alt="이미지 삭제">
                                <div class="tooltip" id="tooltip">삭제</div>
                              </div>
                    </button>


              </span>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <small>작성일 : {{ post.created }}</small>
    <div class="post-comment-create">
        <!--            추가 및 수정 2 -->
        <form style="display: none;" id="comment_form_{{ post.id }}" method="post"
              action="{% url 'posts:comment_add' %}?next={{ action_redirect_url }}">
            {% csrf_token %}
            <!--                추가-->
            <input type="hidden" name="post" value="{{ post.id }}">
            {{ comment_form.content }}
            <textarea name="comment_content_{{ post.id }}" cols="40" rows="10" placeholder="댓글 달기..." maxlength="200" required id="comment_content_{{ post.id }}" data-post-id="{{ post.id }}">
</textarea>
            <p id="charCount_{{ post.id }}" data-post-id="{{ post.id }}">남은 글자수: 200</p>
            <button id="comment_send_btn_{{ post.id }}" data-post-id="{{ post.id }}" type="submit">게시</button>
        </form>



    </div>

    <div class="post-comment-create">
        <!--            추가 및 수정 2 -->
        <form style="display: none;" id="send_message_form_{{ post.id }}" method="post"
              action="{% url 'posts:message_add' %}?next={{ action_redirect_url }}">
            {% csrf_token %}
            <!--                추가-->
            <input type="hidden" name="post" value="{{ post.id }}">
            <textarea name="message_content_{{ post.id }}" cols="40" rows="10" placeholder="쪽지 내용..." maxlength="300" required id="message_content_{{ post.id }}" data-post-id="{{ post.id }}">
</textarea>
            <p id="messageCharCount_{{ post.id }}" data-post-id="{{ post.id }}">남은 글자수: 300</p>
            <button id="message_send_btn_{{ post.id }}" data-post-id="{{ post.id }}" type="submit">쪽지 보내기</button>
        </form>
    </div>

</article>

