{% extends 'base_nav.html' %}

{% block content %}
    <div id="tags">
        <header class="tags-header">
            <h2>#{{ tag_name }}</h2>
<!--            수정-->
            <div>게시물 {{posts.count}}</div>
        </header>
        <div class="post-grid-container">
            {% for post in page_obj %}
<!--            추가-->
            {% if post.postimage_set.first and post.postimage_set.first.photo %}
                <div class="post-grid">
                    <a href="{% url 'posts:post_detail' post_id=post.id %}">
                    <img src="{{ post.postimage_set.first.photo.url }}" alt="">
                        </a>
                </div>
            {% endif %}
<!--            추가-->
            {% empty %}
                <p>검색된 게시물이 없습니다. </p>
            {% endfor %}
        </div>

        <br/>
<br/>
<div style="margin-bottom: 100px">
     {% if page_obj.has_other_pages %}
    <ul style="display: flex;  justify-content: center;   align-items: center;">
<!--        이전 버튼-->
        {% if page_obj.has_previous %}
    <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page_obj.previous_page_number}}">&#10094; Prev</a></li>
    {% endif %}

        {% for page in custom_range %}
         {% if page == page_obj.number %}
        <li style="margin:3px;"><a style="text-decoration:underline; color: red; font-size:1.5rem ; font-weight: 700 " href="?page={{page}}">{{page}}</a></li>
         {% else %}
        <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page}}">{{page}}</a></li>
         {% endif %}
        {% endfor %}

<!--        이후버튼-->
         {% if page_obj.has_next %}
    <li style="margin:3px;"><a style="text-decoration:none; color: blue;" href="?page={{page_obj.next_page_number}}">Next &#10095;</a></li>
    {% endif %}
    </ul>
     {% endif%}
</div>
    </div>

{% endblock %}
